// SETTING BREAKPOINTS

 $breakpoints: (
  'sm': 'screen and (max-width: 460px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 960px)',
  'xl': 'screen and (max-width: 1280px)',
) !default;
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}
$KeyColor: #5f6165;


// SETTING FONTS

@mixin font-face($name, $path, $weight: null, $style: null, $exts: otf ttf) {
  $src: null;
  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $format: map-get($formats, $ext);
    $src: append($src, url(quote($path)) format(quote($format)), comma);
  }

  @font-face {
    font-weight: $weight;
    font-style:  $style;
    font-family: quote($name);
    src: $src;
  }
}
@include font-face('Oswald-ExtraLight', '../fonts/Oswald-ExtraLight.ttf', 200, null, ttf otf);
@include font-face('Oswald-Light', '../fonts/Oswald-Light.ttf', 300, null, ttf otf);
@include font-face('Oswald-Regular', '../fonts/Oswald-Regular.ttf', 400, null, ttf);
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}


// SETTING DECORATIONS
@mixin inputText{
	height:r(80px);
	border:none;
	background:$cInput;
}
@mixin button{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:0 r(15px);
	min-width:r(150px);
	height:r(40px);
	outline:0;
	border:none;
	border-radius:r(5px);
	background:$cBase;
	color:white;
	&:hover{
		color:white !important;
	}
}
@mixin card{
	display:block;
	border-radius:r(10px);
	background:white;box-shadow:0 r(2px) r(8px) 0 rgba(104,85,58,0.3);}
@mixin cardHover{box-shadow:0 0 r(20px) 0 rgba(64,128,255,1)}
@mixin anime{transition: all 0.25s ease-out;}



// Colors
$cBase:rgba(32,32,32,1);
$cBasePl:rgba(32,32,32,0.1);
$cBaseLt:rgba(32,32,32,0.3);
$cBaseSf:rgba(32,32,32,0.5);
@function cBase($opacity){
	@return rgba(32,32,32,$opacity / 100);
}

$cKey:rgba(0,128,237,1);
$cKeyDp:rgba(0,108,227,1);
@function cKey($opacity){
	@return rgba(0,128,237,$opacity / 100);
}

$cAccent:rgba(208,32,96,1);

$cGrayPl:rgb(248,248,246);
$cGrayLt:rgb(232,232,232);
$cGray:rgb(224,224,224);
@function cGray($opacity){
	@return rgba(224,224,224,$opacity / 100);
}


$cLink:rgba(250,240,200,1);
$cHover:rgba(248,248,248,1);
$cInput:rgba(104,85,58,0.1);

$cCampaign:rgba(250,128,180,1);


// Animation
a,input[tyle="checkbox"] + label{
	transition:all 0.25s ease;
}
@mixin fadeIn{
	animation: fadeIn 2s ease 0s 1 normal;
}
@keyframes fadeIn{
	0%{opacity:0}
	100%{opacity:1}
}
@-webkit-keyframes fadeIn {
	0%{opacity:0}
	100%{opacity:1}
}

// scroll animation
@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

// 文字選択した箇所のスタイル
::selection {
	background: #222; /*背景色*/
	color: #fff; /*文字色*/
}
::-moz-selection {
	background: #222; /*背景色*/
	color: #fff; /*文字色*/
}
