@charset "utf-8";
@import "_core";
@import "_component";
@import "_reset";


/* = = = = = = = = = = = = = = = =
// All page common styles
 = = = = = = = = = = = = = = = = */
body {
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  border-top: 0;
  color: $Key;
  letter-spacing: 1px;
  font-size: 100%;
  font-family:'Hiragino Sans' ,"ヒラギノ角ゴシック","Yu Gothic", "游ゴシック", 'YuGothic', "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;

  -ms-overflow-style: none;
  scrollbar-width: none;
  @include mq(){
    letter-spacing: 0;
    font-size: 12px;
  }
  &::-webkit-scrollbar { width: 0 !important }
}

.smpbr{
  display: none;

  @include mq(){
    display: block;
  }
}
.pcbr{
  display: block;

  @include mq(){
    display: none;
  }
}
.wrap{
  overflow-x: hidden;
}
.fullscreen{
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}
.inner{
  margin: auto;
  max-width: 800px;

  @include mq(){
    width: 88%;
  }
}
.section {
  position: relative;
  z-index: 1;
  padding: 6rem 0;

  @include mq(){
    padding: 4rem 0;
  }
}

.text-white{
  color: #fff;
}
.bg{
  &-white{
    background: #fff;
  }
  &-gry{
    background: #F0F1F3;
  }
}
._mrb{
  margin-bottom: 1em;

  @include mq(){

  }
}

.wt{
  &-3{
    font-weight: 300;
  }
  &-4{

  }
}


.trans{
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.headline{
  font-size: 36px;

  @extend .oswald-rg;
  @include mq(){
    letter-spacing: 0.4px;
    font-size: 24px;
  }
  &-sub{
    margin: 10px 0;
    font-size: 14px;

    @include mq(){
      margin: 0;
      font-size: 10px;
    }
  }
  &-2{
    font-size: 36px;

    @extend .oswald-rg;
    @include mq(){
      letter-spacing: 0.4px;
      font-size: 22px;
    }
  }
}

.picture{
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.logo{
  max-width: 154px;
  width: 100%;

  @include mq(){
    max-width: 100%;
    width: 36%;
  }
}

// absolute使わないで重ねたい時用 .gridを併用
.stack-center{
  > * {
    grid-area: 1/-1;
  }
  // 重ね順が上の要素
  ._layer{
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.button{
  position: relative;
  margin: 2rem auto;
  // background: #fff;
  padding: .4em 2.4em;
  max-width: 280px;
  // font-weight:thin;
  width: 100%;
  border: 1px solid $Btn;
  text-align: center;
  line-height: 2;

  @extend .oswald-rg;
  @include mq(){
    max-width: 240px;
    font-size: 14px;
  }
  &._fff{
    border: 1px solid #fff;
    ._arrow{
      &:before{
        background: #fff;
      }
      &:after{
        border-color: transparent transparent transparent #fff;
      }
    }
    &:hover{
      background: #fff;
      color: $Btn;
      ._arrow{
        &:before{
          background: $Btn;
        }
        &:after{
          border-color: transparent transparent transparent $Btn;
        }
      }
    }
  }
  &:hover{
    background: $Btn;
    color: #fff;
    &:before{
      width: 1rem;
      background: #fff;
    }
    &:after{
      right: -2.4rem;
    }
    ._arrow{
      &:before,
      &:after{
        background: #fff;
      }
      &:after{
        border-color: $Btn $Btn $Btn #fff;
      }
    }
  }
  ._arrow{
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    display: block;
    margin: auto;
    &:before,
    &:after{
      position: absolute;
      display: block;
      content: '';

      @extend .trans;
    }
    &:before{
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      margin: auto;
      width: 2rem;
      height: 1px;
      background: $Btn;
      transform: translateX(0);
    }
    &:after{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 5px;
      border-width: 2px 0 2px 10px;
      border-style: solid;
      border-color: transparent transparent transparent $Btn;
    }
  }
}



.front{
  &-hero{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    ._image{
      width: 100vw;
      height: 100vh;

      object-fit: cover;
    }
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(#15171c , .7);
      content: "";
      opacity: 0;
      transition: 1.6s;
    }
    &.js-inview{
      &:after{
        opacity: 1;
      }

    }
    .slide{
      &-item{
        position: relative;
        &:after{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          // background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
          background:linear-gradient(90deg, transparent 80%, rgba(#231815, 1) 96%);
          content: "";

          @include mq(){
            background:linear-gradient(90deg, transparent 75%, rgba(35, 24, 21, 0.8) 100%);

          }
        }
      }
      &-verticaltext{
        position: absolute;
        top: 0;
        right: 60px;
        bottom: 0;
        left: auto;
        z-index: 10;
        margin: auto;
        width: fit-content;
        height: fit-content;
        color: #fff;
        -ms-writing-mode: tb-rl;
        transform: rotate(-180deg);

        writing-mode: vertical-rl;
        @include mq(){
          right: 5%;
          font-weight: lighter;
          font-size: 13px;
        }
      }
    }
    .swiper{
      &-pagination{
        bottom: 40px;
        left: 75px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        max-width: 94px ;
        width: 100%;

        @include mq(md){
          bottom: 3%;
          left: 4%;
          max-width: 16%;
        }
        &-bullet{
          display: block;
          width: 1px;
          height: 14px;
          border-radius: 0;
          background: rgb(128,128,128);
          opacity: 1;
          transition: .4s;

          @include mq(){
            height: 2.5vw;
          }
          &-active{
            height: 40px;
            background: #fff;

            @include mq(){
              height: 7vw;
            }
          }
        }
      }
    }
  }
  &-mainview{

    ._scroll{
      position: absolute;
      right: 60px;
      bottom: 0;
      z-index: 2;
      display: inline-block;
      padding: 0px 10px 100px;
      line-height: 1;
      /* text-transform: uppercase; */

      writing-mode: vertical-lr;
      @include mq(md){
        right: 6%;
        padding: 0px 6px 100px;
      }
      b{
        position: absolute;
        left: -10px;
        display: block;
        color: #fff;
        font-size: 13px;
        transform: rotate(-180deg);

        @include mq(md){
          font-size: 10px;
        }
      }
      &:before,
      &:after{
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 100px;
        content: '';
      }
      &:before{
        z-index: 0;
        background: rgba(255,255,255,0.3);
      }
      &:after{
        z-index: 1;
        background: #fff;
        animation: sdl 1.8s cubic-bezier(1, 0, 0, 1) infinite;
      }
    }
  }
  &-lead{
    align-items: center;
    justify-content: center;
    &_text{
      -webkit-transition: all 2.8s;
      -moz-transition: all 2.8s;
      -ms-transition: all 2.8s;
      -o-transition: all 2.8s;
      transition: all 2.8s;

      @include mq(){
        padding-top: 2.4em;
      }
      &.js-fadein{
        opacity: 0;
      }
      &.js-fadeon{
        opacity: 1;
      }
      ._title{
        margin-bottom: 12px;

        @include mq(){
          margin-bottom: 22px;
          line-height: 1.6;
        }
      }
      ._translate{
        font-size: 24px;

        @include mq(){
          font-size: 16px;
        }
      }
      ._text{
        margin: 40px 0 60px;
        line-height: 2;

        @include mq(){
          margin: 12px 0 40px;
          font-size: 12px;
          line-height: 1.8;
        }
      }
    }
    .button{
      margin: 60px auto;

      @include mq(){
        margin: 20px auto;
      }
    }
  }
  &-works{
    padding: 180px 0;

    @include mq(){
      padding: 60px 4%;
    }
  }
  &-tile{
    margin: 40px 0 80px;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
    @include mq(){
      margin: 20px 0 40px;

      grid-template-columns: 1fr;
      gap: 20px;
    }
    &_item{
      position: relative;
      overflow: hidden;
      padding-bottom: 72%;
      // aspect-ratio: 1.4/1;
      // height: 100%;

      @include mq(){
        overflow: unset;
        padding-bottom: 0;

        aspect-ratio: unset;
        // gap: 8%;
        > *{
          grid-area: auto
        }
      }
    }
    &_image,
    &_text{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @include mq(){
        position: relative;

      }
    }
    &_image{
      @include mq(){
        // margin-bottom: 10px;
        overflow: hidden;
        padding-bottom: 66%;
        // aspect-ratio: 4/3;
        width: 100%;
        .picture{
          position: absolute;
          top: 0%;
          left: 0%;
        }
      }
    }
    &_text{
      line-height: 1.6;

      @extend .trans;
      @include mq(){
        margin-bottom: 20px;
        br{
          display: none;
        }
      }
      @media screen and(min-width:768px) {
        background: rgba($Nvy, 0.8);
        color: #fff;
        line-height: 2.5;
        line-height: initial;
        opacity: 0;
        &:hover{
          opacity: 1;
        }
      }
      ._ja{
        font-weight: 300;
        font-size: 18px;

        @include mq(){
          font-size: 12px;
        }
      }
      ._en{
        font-size: 13px;

        @include mq(){
          font-size: 10px;
        }
      }
    }
  }
  &-info{
    grid-template-columns: 1fr 1fr;
    gap: 2px;
    @include mq(){
      grid-template-columns: 1fr;
    }
    &_block{
      min-height: 500px;

      @include mq(){
        min-height: 280px;
      }
      &:before{
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba($Gry,0.25);
        content: '';

        @extend .trans;
        grid-area: 1/-1;
      }
      &:hover{
        &:before{
          background: rgba($Nvy, 0.8);
        }
      }
    }
    &_image{

    }
    &_text{
      ._en{
        font-size: 36px;

        @include mq(){
          letter-spacing: 2px;
          font-size: 22px;
        }
      }
      ._ja{
        font-size: 14px;

        @include mq(){
          font-size: 10px;
        }
      }
      .button{
        display: none;
        margin: 1rem auto;
        background: rgba(255,255,255,.1);
        font-size: 14px;

        @include mq(){
          display: block;
        }
      }
    }
  }
}

/* = = = = = = = = = = = = = = = =
// LAYER COMMON STYLE
 = = = = = = = = = = = = = = = = */

.layer{
  padding: 100px 0 0;
  &-outer{
    margin: auto;
    max-width: 1000px;

    @include mq(){
      width: 92%;
    }
  }
  &-title{
    margin: 80px 0;

    @include mq(){
      margin: 20px 0 60px;
    }
  }
  &-cover{
    width: 100%;
    // background: #000;
    height:calc(290px + 20vmin) ;

    @include mq(){
      height:calc(220px + 25vmin) ;
    }
    img{
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
  &-block{
    padding: 140px 0;

    @include mq(){
      padding: 40px 0;
    }
  }
  &-table{
    margin: 60px auto;
    width: 100%;

    @include mq(){
      margin: 20px auto;
    }
    tr{
      &:first-child{
        .column-1,
        .column-2{
          border: none;
        }
      }
    }
    .column-1,
    .column-2{
      border-top: 1px solid #ddd;
      vertical-align: middle;
    }
    .column-1{
      padding: 22px 0;
      width: 15%;
      border-color: #b3bbc6;
      font-weight: normal;

      @include mq(){
        padding: 15px 0 10px;
        width: 25%;
        vertical-align: top;
      }
    }
    .column-2{
      padding: 10px 0 10px 50px;
      width: 85%;
      font-weight: 300;

      @include mq(){
        padding: 15px 0 10px 10px;
        width: 75%;

      }
    }
  }
}
/* = = = = = = = = = = = = = = = =
// ABOUTpage - unique styles
 = = = = = = = = = = = = = = = = */
.about{
  &-lead{
    margin: 120px 0 20px;

    @include mq(){
      margin-top: 60px;
    }
    ._catch{
      margin-bottom: 14px;
      font-size: 24px;

      @include mq(){
        font-size: 16px;
      }
      span{
        @include mq(){
          display: block;
          line-height: 1;
        }
      }
    }
    ._text{
      letter-spacing: 0;

      @include mq(){
        margin: auto;
        max-width: 240px;
        line-height: 1.8;
      }
    }
  }
  &-service{
    background: $LGry;
    &_table{
      margin: 10px auto;
      font-size: 14px;

      grid-template-columns: 3.5fr 6.5fr;
      gap: 60px 0;
      @include mq(){
        text-align: center;

        grid-template-columns: 1fr;
        gap: 0;
      }
      ._title{
        font-size: 28px;

        @extend .oswald-rg;
        @include mq(){
          font-size: 20px;
        }
      }
      ._text{
        line-height: 2.5;

        @include mq(){
          font-size: 13px;
          line-height: 2;
        }
      }
      .col1{
        @include mq(){
          // margin-top: 30px;
          margin-bottom: 10px;
          &:nth-last-of-type(2){
            margin-top: 60px;
          }
        }
      }
    }
    &_chart{
      align-items: center;
      margin: 20px auto;

      grid-template-columns: auto auto;
      justify-items: flex-end;
      @include mq(){
        margin: 10px auto;

        grid-template-columns: 1fr;
      }
      .el{
        &-container{
          position: relative;
          justify-content: space-between;
          padding: 40px;
          max-width: 500px;
          width: 100%;
          border-radius: 5%;
          background: #e7e8ec;

          @include mq(){
            align-items: flex-start;
            padding:4% 6%;
          }
          &._mun{
            &:after{
              position: absolute;
              top: 20%;
              right: 0;
              bottom: 50%;
              left: 0;
              display: grid;
              align-items: center;
              justify-content: center;
              margin: auto;
              content: '×';
              font-weight: 200;
              font-size: 32px;
              line-height: 1;
            }
          }
        }
        &-plusone{
          @include mq(){
            margin: auto;
          }
        }
        &-detail{
          position: relative;

          gap: 12px;
          justify-items: center;
          ._head{
            align-items: center;
            justify-content: center;
            width: 175px;
            height: 175px;
            border-radius: 50%;
            background: #fff;

            @include mq(){
              width: 120px;
              height: 120px;
            }
            ._en{
              font-size: 18px;

              @include  mq(){
                margin-bottom: 0.2em;
                font-size: 14px;
                line-height: 1.2;
              }
              span{
                @include mq(){
                  display: block;
                  line-height: 1;
                }
              }
            }
            ._ja{
              font-size: 14px;

              @include  mq(){
                font-size: 10px;
              }
            }
          }
          ._text{
            max-width:165px;
            font-size: 12px;

            @include mq(){
              max-width:120px;
              text-align: left;
              font-size: 10px;
            }
          }
          &._mng{
            &:before{
              position: absolute;
              top: 0;
              bottom: 0;
              left: -22%;
              display: flex;
              align-items: center;
              margin: auto;
              content: '+';
              font-weight: 200;
              font-size: 42px;

              @include mq(){
                position: relative;
                right: 0;
                left: 0;

              }
            }
            ._head{
              width: 200px;
              height: 200px;
              background: $Nvy;

              @include mq(){
                width: 140px;
                height: 140px;
              }
            }
            ._text{
              max-width: 215px;
              letter-spacing: 0;

              @include mq(){
                max-width: 197px;
                text-align: center;
                // letter-spacing: 1px ;
              }
            }
          }
        }
      }
    }
  }
  &-message{
    padding: 160px 0;
    background: $Nvy;

    @include mq(){
      padding: 80px 0;
    }
    hr{
      margin: 120px auto;
      max-width: 1000px;

      @include mq(){
        margin: 40px auto;
        max-width: 90%;
      }
    }
    &_inner{
      padding: 20px 0;

      @include mq(){

      }
      ._title{
        margin-bottom: 12px;

        @include mq(){
          margin: 20px 0 ;
          font-size: 20px;
          line-height: 1.6;
        }
      }
      ._translate{
        font-size: 24px;

        @include mq(){
          font-size: 16px;
        }
      }
      ._text{
        margin: 40px 0 0;
        line-height: 2;

        @include mq(){
          margin: 12px 0 0;
          font-size: 12px;
          line-height: 1.8;
        }
      }
    }
  }
  &-profile{
    padding: 140px 0 80px;

    @include mq(){
      padding: 40px 0;
    }
    .layer-table{
      .column-2{
        line-height: 2.5;

        @include mq(){
          line-height: initial;
        }
      }
    }
    .map{
      position: relative;
      margin-top: 40px;
      padding-top: 35%;
      width: 100%;
      height: 0;

      @include mq(){
        padding-top: 40%;
      }
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .layer-table{
      @include mq(){
        th.column-1{
          width: 20%;
        }
        td.column-2{
          width: 80%;
        }
    }
  }
}

/* = = = = = = = = = = = = = = = =
// RECRUITpage - unique styles
 = = = = = = = = = = = = = = = = */
.recruit{
  &-lead{
    padding: 120px 0 140px;
    border-top: 1px solid #F0F1F3;
    font-size: 22px;
    line-height: 2.5;

    @include mq(){
      margin: auto;
      padding: 60px 0 80px;
      font-size: 16px;
      line-height: 1.6;
    }
  }
  &-info{
    padding: 100px 0 140px;

    @include mq(){
      padding: 60px 0 20px;
    }
    &_method{
      margin:60px auto 0;
      padding-top: 60px;
      max-width: 600px;
      border-top: 1px solid #F0F1F3;

      @include mq(){
        margin:40px auto 0;
        padding-top: 40px;
        max-width: 86%;

      }
      ._title{
        font-weight: normal;
        font-size: 24px;

        @include mq(){
          font-size: 16px;
        }
      }
      ._text{
        margin: 10px 0 20px;
        letter-spacing: 0;
        font-size: 14px;
        line-height: 2;

        @include mq(){
          margin: 0 auto 10px;
          width: 90%;
          font-size: 12px;
          line-height: 1.8;
          p{
            &:first-child{
              display:inline ;
            }
            &:last-child{
              display: contents;
            }
          }
        }
      }
      ._num{
        font-size: 36px;

        @include mq(){
          font-size: 24px;
        }
        span{
          font-size: 26px;

          @include mq(){
            font-size: 16px;
          }
        }
      }
    }
    .inner{
      @include mq(){
        width: 92%;
      }
    }
  }
}

/* = = = = = = = = = = = = = = = =
// WORKSpage - unique styles
= = = = = = = = = = = = = = = = */
.works{
  margin-bottom: 160px;

  @include mq(){
    margin-bottom: 80px;
  }
  &-head{
    margin: auto;
    max-width: 1000px;
  }
  &-lead{
    ._catch{
      font-size: 24px;

      @include mq(){
        font-size: 16px;
      }
    }
    ._text{
      margin: 40px auto 140px;
      max-width: 700px;
      font-size: 14px;
      line-height: 2;

      @include mq(){
        margin: 20px auto 40px;
        width: 88%;
        font-size: 12px;
      }
    }
  }
  &-list{
    grid-template-columns: 1fr 1fr;
    gap: 40px 2px ;
    @include mq(){
      grid-template-columns: 1fr;
      gap: 40px ;
    }
    &_item{
      &:hover{
        .image{
          &:before{
            opacity: 1;
          }
        }
      }
    }
    .image{
      position: relative;
      // aspect-ratio: 2/1;
      overflow: hidden;
      margin-bottom: 20px;
      padding-bottom: 50%;

      @include mq(){
        margin-bottom: 12px;
        // aspect-ratio: 1.4/1;
        padding-bottom: 70%;
      }
      &:before{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba($Nvy, 0.6);
        content: '';
        opacity: 0;

        @extend .trans;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }
    .text{
      @include mq(){
        text-align: center;
      }
      ._ja{
        font-size: 16px;

        @include mq(){
          font-size: 12px;
        }
      }
      ._en{
        font-size: 13px;

        @include mq(){
          font-size: 10px;
        }
      }
    }
  }
}
.category{
  &-list{
    margin: auto;
    max-width: 720px;
    font-size: 20px;

    grid-template-columns: 1fr 1fr;
    &_item{
      padding: 32px 0;
      border-bottom: 1px solid ;
      color: #dfdfe0;

      @include mq(){
        padding: 10px 0;
        border-bottom: 2px solid $Nvy;
        font-size: 16px;
      }
      &:hover{
        color: #5f6165;
      }
      &._current{
        color: #5f6165;

        @include mq(){
          background: $Nvy;
          color: #fff;
        }
      }
    }
  }
}
.tag{
  &-list{
    margin: 60px 0 120px;

    grid-template-columns: repeat(8 , auto);
    @include mq(){
      align-items: center;
      margin: 0 0 60px;

      grid-template-columns: repeat(4 , 1fr);
      grid-template-rows: 1fr 1fr;
      gap: 2px;
    }
    &_item{
      color: #dfdfe0;

      @include mq(){
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        height: 100%;
        background: #F0F1F4;
        font-size: 14px;
        line-height: 1.2;
      }
      &:hover{
        color: initial;
      }
      &._current{
        color: #5f6165;

        @include mq(){
          background: #fff;
          color: $Nvy;
        }
      }
    }
  }
}
/* = = = = = = = = = = = = = = = =
// same DETAILpage - unique styles
 = = = = = = = = = = = = = = = = */
.detail{
  &-head{
    margin: 20px 0 80px;
    padding: 20px 0;
    border-bottom: 1px solid #F0F1F3;

    @include mq(){
      margin: 0 0 20px;
      padding: 20px 10px 10px;
      border-width: 2px;
    }
  }
  &-back{
    position: relative;
    padding-left: 16px;
    font-size: 20px;

    @include mq(){
      margin-top: -20px;
      padding-left: 24px;
      font-size: 16px;
    }
    &:before{
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      display: flex;
      align-items: center;
      content: '〈';
      font-size: 16px;

      @include mq(){
        left: 0;
      }
    }
  }
  &-title{
    ._ja{
      font-size: 16px;

      @include mq(){
        font-size: 13px;
      }
    }
    ._en{
      font-size: 13px;

      @include mq(){
        font-size: 10px;
      }
    }
  }
  &-text{
    font-size: 14px ;
    line-height: 2;

    @include mq(){
      font-size: 12px;
      line-height: 1.8;
    }
  }
  &-foot{
    margin: 40px 0 140px;

    grid-template-columns: 4fr 6fr;
    @include mq(){
      margin: 40px 0 80px;

      gap: 20px;
      grid-template-columns: 1fr;
    }
  }
}

/* = = = = = = = = = = = = = = = =
// Plugins edit styles
= = = = = = = = = = = = = = = = */
.tablepress{
  >caption{
    display: none;
  }
}


.hover{
  &-scale{
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
}
