@charset "UTF-8";
/* = = = = = = = = = = = = = = = =
// SETTING BREAKPOINTS
 = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = =
// INCLUDE FONTS
 = = = = = = = = = = = = = = = = */
@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Upright");
@import url("https://fonts.googleapis.com/earlyaccess/notosansjp.css");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Upright");
@font-face {
  font-family: "Oswald-ExtraLight";
  font-weight: 200;
  src: url("../fonts/Oswald-ExtraLight.ttf") format("truetype"), url("../fonts/Oswald-ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald-Light";
  font-weight: 300;
  src: url("../fonts/Oswald-Light.ttf") format("truetype"), url("../fonts/Oswald-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald-Regular";
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
}

.oswald-ex {
  font-family: 'Oswald-ExtraLight';
  font-weight: 200;
}

.oswald-lt {
  font-family: 'Oswald-Light';
  font-weight: 300;
}

.oswald-rg, .headline, .headline-2, .button, .about-service_table ._title {
  font-family: 'Oswald-Regular';
  font-weight: 400;
}

.hiraSans {
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.font-nsans {
  font-family: '$Nsans';
}

a, input[tyle="checkbox"] + label {
  transition: all 0.25s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

::selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

::-moz-selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

/* = = = = = = = = = = = = = = = =
// USE microCMS
 = = = = = = = = = = = = = = = = */
.code {
  padding: 1rem 2rem;
  border-radius: .5rem;
}

/* = = = = = = = = = = = = = = = =
// SETTING BREAKPOINTS
 = = = = = = = = = = = = = = = = */
/* = = = = = = = = = = = = = = = =
// INCLUDE FONTS
 = = = = = = = = = = = = = = = = */
@font-face {
  font-family: "Oswald-ExtraLight";
  font-weight: 200;
  src: url("../fonts/Oswald-ExtraLight.ttf") format("truetype"), url("../fonts/Oswald-ExtraLight.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald-Light";
  font-weight: 300;
  src: url("../fonts/Oswald-Light.ttf") format("truetype"), url("../fonts/Oswald-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Oswald-Regular";
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.ttf") format("truetype");
}

.oswald-ex {
  font-family: 'Oswald-ExtraLight';
  font-weight: 200;
}

.oswald-lt {
  font-family: 'Oswald-Light';
  font-weight: 300;
}

.oswald-rg, .headline, .headline-2, .button, .about-service_table ._title {
  font-family: 'Oswald-Regular';
  font-weight: 400;
}

.hiraSans {
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Yu Gothic", "游ゴシック", "YuGothic", "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.font-nsans {
  font-family: '$Nsans';
}

a, input[tyle="checkbox"] + label {
  transition: all 0.25s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

::selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

::-moz-selection {
  background: #222;
  /*背景色*/
  color: #fff;
  /*文字色*/
}

/* = = = = = = = = = = = = = = = =
// USE microCMS
 = = = = = = = = = = = = = = = = */
.code {
  padding: 1rem 2rem;
  border-radius: .5rem;
}

/* = = = = = = = = = = = = = = = =
// Header - unique styles
 = = = = = = = = = = = = = = = = */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: space-between;
  padding: 30px 60px;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .header {
    align-items: center;
    padding: 1.2rem 5%;
  }
}

.header-logo * {
  line-height: 1;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: 100px;
  color: #5f6165;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .header-nav {
    margin-right: 40px;
    font-size: 15px;
  }
}

.header-nav_item {
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .header-nav_item:not(:last-child) {
    display: none;
  }
}

.header-nav_item._instagram {
  font-size: 1.8em;
}

@media screen and (max-width: 768px) {
  .header-nav_item._instagram {
    line-height: 1;
  }
}

.header-hum {
  position: fixed;
  top: 40px;
  right: 60px;
  z-index: 99999;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .header-hum {
    top: 1.4rem;
    right: 8%;
  }
}

.header-hum span {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 20px;
  height: 1px;
  background: #5f6165;
  transition: .4s;
}

@media screen and (max-width: 768px) {
  .header-hum span {
    height: 2px;
  }
}

.header-hum span:first-child {
  top: 0;
}

.header-hum span:last-child {
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .header-hum span:last-child {
    bottom: -2px;
  }
}

.header-hum.active span {
  background: #fff;
}

.header-hum.active span:first-child {
  transform: translateY(10px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .header-hum.active span:first-child {
    transform: translateY(10px) rotate(45deg);
  }
}

.header-hum.active span:nth-child(2) {
  opacity: 0;
}

.header-hum.active span:last-child {
  transform: translateY(-9px) rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .header-hum.active span:last-child {
    transform: translateY(-10px) rotate(-45deg);
  }
}

.front .header-nav {
  color: #fff;
}

.front .header.switch {
  background: white;
}

.front .header.switch .header-nav {
  color: #5f6165;
}

.front .header.switch .logo .st0 {
  fill: #5f6165;
}

.front .header-hum span {
  background: #fff;
}

.front .header-hum.switch span {
  background: #5f6165;
}

.front .header-hum.switch.active span {
  background: #fff;
}

.underlayer .header {
  background: white;
}

.sliding {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  width: 30%;
  height: 100vh;
  background: #041e41;
  opacity: 1;
  transition: all 0.6s;
  transform: translateX(100%);
}

@media screen and (max-width: 768px) {
  .sliding {
    padding: 8rem 0;
    width: 100%;
    text-align: center;
    transform: translateX(100%);
  }
}

.sliding.is-show {
  transform: translateX(0);
}

.sliding_nav_list {
  gap: 40px;
}

.sliding_nav_item {
  font-size: 20px;
}

.hum-open {
  overflow: hidden;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  visibility: hidden;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: transparent;
  content: "";
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#overlay:after {
  position: fixed;
  top: 40%;
  left: 0;
  display: block;
  visibility: hidden;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0);
  content: "";
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hum-open #overlay {
  visibility: visible;
  background: rgba(95, 97, 101, 0.8);
  cursor: pointer;
}

.hum-open #overlay:after {
  visibility: visible;
  color: rgba(255, 255, 255, 0.8);
}

/* = = = = = = = = = = = = = = = =
// Footer - unique styles
= = = = = = = = = = = = = = = = */
.footer {
  padding: 60px 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}

.footer-logo {
  margin: 0 auto 50px;
}

@media screen and (max-width: 768px) {
  .footer-logo {
    margin: 0px auto 12px;
  }
}

@media screen and (max-width: 768px) {
  .footer-copy {
    letter-spacing: 0.8px;
    font-size: 10px;
  }
}

.footer-contact {
  background: url(../images/bg-contact.jpg) center center/cover no-repeat;
}

.footer-contact_btn {
  margin: 60px auto;
  padding: 52px 0;
  max-width: 1000px;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .footer-contact_btn {
    margin: 0 auto;
    padding: 6% 0;
    width: 80%;
    font-size: 14px;
  }
}

.footer-contact_btn:hover {
  background: #fff;
  color: #222;
}

/* = = = = = = = = = = = = = = = =
// Loading Anime
= = = = = = = = = = = = = = = = */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #041e41;
  font-size: 36px;
  transition: all 0.1s;
}

@media screen and (max-width: 768px) {
  .loading {
    font-size: 8vw;
  }
}

.completed {
  visibility: hidden;
  opacity: 0;
}

/*! de-style.css v1.0.5 | MIT License | https://github.com/nicolas-cusan/destyle.css */
* {
  box-sizing: border-box;
  word-break: break-all;
}

::before,
::after {
  box-sizing: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}

body:-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  transition: 0.4s;
  word-break: break-all;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 65%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-style: none;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

::-webkit-input-placeholder {
  font: inherit;
}

:-ms-input-placeholder {
  font: inherit;
}

::-ms-input-placeholder {
  font: inherit;
}

::placeholder {
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
}

th {
  text-align: left;
  font-weight: bold;
}

[hidden] {
  display: none;
}

.ovh {
  overflow: hidden;
}

.ovs-x {
  overflow-x: scroll;
}

.mra {
  margin: auto;
}

.mrl {
  margin-left: auto;
  margin-right: 0;
}

.mrr {
  margin-right: auto;
  margin-left: 0;
}

.mrb {
  margin-bottom: auto;
  margin-top: 0;
}

.mrt {
  margin-top: auto;
  margin-bottom: 0;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

/* = = = = = = = = = = = = = = = =
// All page common styles
 = = = = = = = = = = = = = = = = */
body {
  overflow-x: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  border-top: 0;
  color: #5f6165;
  letter-spacing: 1px;
  font-size: 100%;
  font-family: 'Hiragino Sans' ,"ヒラギノ角ゴシック","Yu Gothic", "游ゴシック", 'YuGothic', "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.6;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 768px) {
  body {
    letter-spacing: 0;
    font-size: 12px;
  }
}

body::-webkit-scrollbar {
  width: 0 !important;
}

.smpbr {
  display: none;
}

@media screen and (max-width: 768px) {
  .smpbr {
    display: block;
  }
}

.pcbr {
  display: block;
}

@media screen and (max-width: 768px) {
  .pcbr {
    display: none;
  }
}

.wrap {
  overflow-x: hidden;
}

.fullscreen {
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}

.inner {
  margin: auto;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .inner {
    width: 88%;
  }
}

.section {
  position: relative;
  z-index: 1;
  padding: 6rem 0;
}

@media screen and (max-width: 768px) {
  .section {
    padding: 4rem 0;
  }
}

.text-white {
  color: #fff;
}

.bg-white {
  background: #fff;
}

.bg-gry {
  background: #F0F1F3;
}

._mrb {
  margin-bottom: 1em;
}

.wt-3 {
  font-weight: 300;
}

.trans, .button ._arrow:before, .button ._arrow:after, .front-tile_text, .front-info_block:before, .works-list .image:before {
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.headline {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .headline {
    letter-spacing: 0.4px;
    font-size: 24px;
  }
}

.headline-sub {
  margin: 10px 0;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .headline-sub {
    margin: 0;
    font-size: 10px;
  }
}

.headline-2 {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .headline-2 {
    letter-spacing: 0.4px;
    font-size: 22px;
  }
}

.picture {
  width: 100%;
  height: 100%;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  max-width: 154px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .logo {
    max-width: 100%;
    width: 36%;
  }
}

.stack-center > * {
  grid-area: 1/-1;
}

.stack-center ._layer {
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.button {
  position: relative;
  margin: 2rem auto;
  padding: .4em 2.4em;
  max-width: 280px;
  width: 100%;
  border: 1px solid #595757;
  text-align: center;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .button {
    max-width: 240px;
    font-size: 14px;
  }
}

.button._fff {
  border: 1px solid #fff;
}

.button._fff ._arrow:before {
  background: #fff;
}

.button._fff ._arrow:after {
  border-color: transparent transparent transparent #fff;
}

.button._fff:hover {
  background: #fff;
  color: #595757;
}

.button._fff:hover ._arrow:before {
  background: #595757;
}

.button._fff:hover ._arrow:after {
  border-color: transparent transparent transparent #595757;
}

.button:hover {
  background: #595757;
  color: #fff;
}

.button:hover:before {
  width: 1rem;
  background: #fff;
}

.button:hover:after {
  right: -2.4rem;
}

.button:hover ._arrow:before, .button:hover ._arrow:after {
  background: #fff;
}

.button:hover ._arrow:after {
  border-color: #595757 #595757 #595757 #fff;
}

.button ._arrow {
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  display: block;
  margin: auto;
}

.button ._arrow:before, .button ._arrow:after {
  position: absolute;
  display: block;
  content: '';
}

.button ._arrow:before {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: auto;
  width: 2rem;
  height: 1px;
  background: #595757;
  transform: translateX(0);
}

.button ._arrow:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 5px;
  border-width: 2px 0 2px 10px;
  border-style: solid;
  border-color: transparent transparent transparent #595757;
}

.front-hero {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-attachment: fixed;
}

.front-hero ._image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.front-hero:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(21, 23, 28, 0.7);
  content: "";
  opacity: 0;
  transition: 1.6s;
}

.front-hero.js-inview:after {
  opacity: 1;
}

.front-hero .slide-item {
  position: relative;
}

.front-hero .slide-item:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent 80%, #231815 96%);
  content: "";
}

@media screen and (max-width: 768px) {
  .front-hero .slide-item:after {
    background: linear-gradient(90deg, transparent 75%, rgba(35, 24, 21, 0.8) 100%);
  }
}

.front-hero .slide-verticaltext {
  position: absolute;
  top: 0;
  right: 60px;
  bottom: 0;
  left: auto;
  z-index: 10;
  margin: auto;
  width: fit-content;
  height: fit-content;
  color: #fff;
  -ms-writing-mode: tb-rl;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

@media screen and (max-width: 768px) {
  .front-hero .slide-verticaltext {
    right: 5%;
    font-weight: lighter;
    font-size: 13px;
  }
}

.front-hero .swiper-pagination {
  bottom: 40px;
  left: 75px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 94px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .front-hero .swiper-pagination {
    bottom: 3%;
    left: 4%;
    max-width: 16%;
  }
}

.front-hero .swiper-pagination-bullet {
  display: block;
  width: 1px;
  height: 14px;
  border-radius: 0;
  background: gray;
  opacity: 1;
  transition: .4s;
}

@media screen and (max-width: 768px) {
  .front-hero .swiper-pagination-bullet {
    height: 2.5vw;
  }
}

.front-hero .swiper-pagination-bullet-active {
  height: 40px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .front-hero .swiper-pagination-bullet-active {
    height: 7vw;
  }
}

.front-mainview ._scroll {
  position: absolute;
  right: 60px;
  bottom: 0;
  z-index: 2;
  display: inline-block;
  padding: 0px 10px 100px;
  line-height: 1;
  /* text-transform: uppercase; */
  writing-mode: vertical-lr;
}

@media screen and (max-width: 768px) {
  .front-mainview ._scroll {
    right: 6%;
    padding: 0px 6px 100px;
  }
}

.front-mainview ._scroll b {
  position: absolute;
  left: -10px;
  display: block;
  color: #fff;
  font-size: 13px;
  transform: rotate(-180deg);
}

@media screen and (max-width: 768px) {
  .front-mainview ._scroll b {
    font-size: 10px;
  }
}

.front-mainview ._scroll:before, .front-mainview ._scroll:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100px;
  content: '';
}

.front-mainview ._scroll:before {
  z-index: 0;
  background: rgba(255, 255, 255, 0.3);
}

.front-mainview ._scroll:after {
  z-index: 1;
  background: #fff;
  animation: sdl 1.8s cubic-bezier(1, 0, 0, 1) infinite;
}

.front-lead {
  align-items: center;
  justify-content: center;
}

.front-lead_text {
  -webkit-transition: all 2.8s;
  -moz-transition: all 2.8s;
  -ms-transition: all 2.8s;
  -o-transition: all 2.8s;
  transition: all 2.8s;
}

@media screen and (max-width: 768px) {
  .front-lead_text {
    padding-top: 2.4em;
  }
}

.front-lead_text.js-fadein {
  opacity: 0;
}

.front-lead_text.js-fadeon {
  opacity: 1;
}

.front-lead_text ._title {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .front-lead_text ._title {
    margin-bottom: 22px;
    line-height: 1.6;
  }
}

.front-lead_text ._translate {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .front-lead_text ._translate {
    font-size: 16px;
  }
}

.front-lead_text ._text {
  margin: 40px 0 60px;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .front-lead_text ._text {
    margin: 12px 0 40px;
    font-size: 12px;
    line-height: 1.8;
  }
}

.front-lead .button {
  margin: 60px auto;
}

@media screen and (max-width: 768px) {
  .front-lead .button {
    margin: 20px auto;
  }
}

.front-works {
  padding: 180px 0;
}

@media screen and (max-width: 768px) {
  .front-works {
    padding: 60px 4%;
  }
}

.front-tile {
  margin: 40px 0 80px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

@media screen and (max-width: 768px) {
  .front-tile {
    margin: 20px 0 40px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.front-tile_item {
  position: relative;
  overflow: hidden;
  padding-bottom: 72%;
}

@media screen and (max-width: 768px) {
  .front-tile_item {
    overflow: unset;
    padding-bottom: 0;
    aspect-ratio: unset;
  }
  .front-tile_item > * {
    grid-area: auto;
  }
}

.front-tile_image, .front-tile_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .front-tile_image, .front-tile_text {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .front-tile_image {
    overflow: hidden;
    padding-bottom: 66%;
    width: 100%;
  }
  .front-tile_image .picture {
    position: absolute;
    top: 0%;
    left: 0%;
  }
}

.front-tile_text {
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .front-tile_text {
    margin-bottom: 20px;
  }
  .front-tile_text br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .front-tile_text {
    background: rgba(4, 30, 65, 0.8);
    color: #fff;
    line-height: 2.5;
    line-height: initial;
    opacity: 0;
  }
  .front-tile_text:hover {
    opacity: 1;
  }
}

.front-tile_text ._ja {
  font-weight: 300;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .front-tile_text ._ja {
    font-size: 12px;
  }
}

.front-tile_text ._en {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .front-tile_text ._en {
    font-size: 10px;
  }
}

.front-info {
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

@media screen and (max-width: 768px) {
  .front-info {
    grid-template-columns: 1fr;
  }
}

.front-info_block {
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .front-info_block {
    min-height: 280px;
  }
}

.front-info_block:before {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(95, 97, 101, 0.25);
  content: '';
  grid-area: 1/-1;
}

.front-info_block:hover:before {
  background: rgba(4, 30, 65, 0.8);
}

.front-info_text ._en {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .front-info_text ._en {
    letter-spacing: 2px;
    font-size: 22px;
  }
}

.front-info_text ._ja {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .front-info_text ._ja {
    font-size: 10px;
  }
}

.front-info_text .button {
  display: none;
  margin: 1rem auto;
  background: rgba(255, 255, 255, 0.1);
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .front-info_text .button {
    display: block;
  }
}

/* = = = = = = = = = = = = = = = =
// LAYER COMMON STYLE
 = = = = = = = = = = = = = = = = */
.layer {
  padding: 100px 0 0;
}

.layer-outer {
  margin: auto;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .layer-outer {
    width: 92%;
  }
}

.layer-title {
  margin: 80px 0;
}

@media screen and (max-width: 768px) {
  .layer-title {
    margin: 20px 0 60px;
  }
}

.layer-cover {
  width: 100%;
  height: calc(290px + 20vmin);
}

@media screen and (max-width: 768px) {
  .layer-cover {
    height: calc(220px + 25vmin);
  }
}

.layer-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer-block {
  padding: 140px 0;
}

@media screen and (max-width: 768px) {
  .layer-block {
    padding: 40px 0;
  }
}

.layer-table {
  margin: 60px auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .layer-table {
    margin: 20px auto;
  }
}

.layer-table tr:first-child .column-1,
.layer-table tr:first-child .column-2 {
  border: none;
}

.layer-table .column-1,
.layer-table .column-2 {
  border-top: 1px solid #ddd;
  vertical-align: middle;
}

.layer-table .column-1 {
  padding: 22px 0;
  width: 15%;
  border-color: #b3bbc6;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .layer-table .column-1 {
    padding: 15px 0 10px;
    width: 25%;
    vertical-align: top;
  }
}

.layer-table .column-2 {
  padding: 10px 0 10px 50px;
  width: 85%;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .layer-table .column-2 {
    padding: 15px 0 10px 10px;
    width: 75%;
  }
}

/* = = = = = = = = = = = = = = = =
// ABOUTpage - unique styles
 = = = = = = = = = = = = = = = = */
.about-lead {
  margin: 120px 0 20px;
}

@media screen and (max-width: 768px) {
  .about-lead {
    margin-top: 60px;
  }
}

.about-lead ._catch {
  margin-bottom: 14px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .about-lead ._catch {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .about-lead ._catch span {
    display: block;
    line-height: 1;
  }
}

.about-lead ._text {
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .about-lead ._text {
    margin: auto;
    max-width: 240px;
    line-height: 1.8;
  }
}

.about-service {
  background: #f1f2f4;
}

.about-service_table {
  margin: 10px auto;
  font-size: 14px;
  grid-template-columns: 3.5fr 6.5fr;
  gap: 60px 0;
}

@media screen and (max-width: 768px) {
  .about-service_table {
    text-align: center;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.about-service_table ._title {
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .about-service_table ._title {
    font-size: 20px;
  }
}

.about-service_table ._text {
  line-height: 2.5;
}

@media screen and (max-width: 768px) {
  .about-service_table ._text {
    font-size: 13px;
    line-height: 2;
  }
}

@media screen and (max-width: 768px) {
  .about-service_table .col1 {
    margin-bottom: 10px;
  }
  .about-service_table .col1:nth-last-of-type(2) {
    margin-top: 60px;
  }
}

.about-service_chart {
  align-items: center;
  margin: 20px auto;
  grid-template-columns: auto auto;
  justify-items: flex-end;
}

@media screen and (max-width: 768px) {
  .about-service_chart {
    margin: 10px auto;
    grid-template-columns: 1fr;
  }
}

.about-service_chart .el-container {
  position: relative;
  justify-content: space-between;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  border-radius: 5%;
  background: #e7e8ec;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-container {
    align-items: flex-start;
    padding: 4% 6%;
  }
}

.about-service_chart .el-container._mun:after {
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 50%;
  left: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  content: '×';
  font-weight: 200;
  font-size: 32px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-plusone {
    margin: auto;
  }
}

.about-service_chart .el-detail {
  position: relative;
  gap: 12px;
  justify-items: center;
}

.about-service_chart .el-detail ._head {
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail ._head {
    width: 120px;
    height: 120px;
  }
}

.about-service_chart .el-detail ._head ._en {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail ._head ._en {
    margin-bottom: 0.2em;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail ._head ._en span {
    display: block;
    line-height: 1;
  }
}

.about-service_chart .el-detail ._head ._ja {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail ._head ._ja {
    font-size: 10px;
  }
}

.about-service_chart .el-detail ._text {
  max-width: 165px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail ._text {
    max-width: 120px;
    text-align: left;
    font-size: 10px;
  }
}

.about-service_chart .el-detail._mng:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -22%;
  display: flex;
  align-items: center;
  margin: auto;
  content: '+';
  font-weight: 200;
  font-size: 42px;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail._mng:before {
    position: relative;
    right: 0;
    left: 0;
  }
}

.about-service_chart .el-detail._mng ._head {
  width: 200px;
  height: 200px;
  background: #041e41;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail._mng ._head {
    width: 140px;
    height: 140px;
  }
}

.about-service_chart .el-detail._mng ._text {
  max-width: 215px;
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .about-service_chart .el-detail._mng ._text {
    max-width: 197px;
    text-align: center;
  }
}

.about-message {
  padding: 160px 0;
  background: #041e41;
}

@media screen and (max-width: 768px) {
  .about-message {
    padding: 80px 0;
  }
}

.about-message hr {
  margin: 120px auto;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .about-message hr {
    margin: 40px auto;
    max-width: 90%;
  }
}

.about-message_inner {
  padding: 20px 0;
}

.about-message_inner ._title {
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .about-message_inner ._title {
    margin: 20px 0;
    font-size: 20px;
    line-height: 1.6;
  }
}

.about-message_inner ._translate {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .about-message_inner ._translate {
    font-size: 16px;
  }
}

.about-message_inner ._text {
  margin: 40px 0 0;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .about-message_inner ._text {
    margin: 12px 0 0;
    font-size: 12px;
    line-height: 1.8;
  }
}

.about-profile {
  padding: 140px 0 80px;
}

@media screen and (max-width: 768px) {
  .about-profile {
    padding: 40px 0;
  }
}

.about-profile .layer-table .column-2 {
  line-height: 2.5;
}

@media screen and (max-width: 768px) {
  .about-profile .layer-table .column-2 {
    line-height: initial;
  }
}

.about-profile .map {
  position: relative;
  margin-top: 40px;
  padding-top: 35%;
  width: 100%;
  height: 0;
}

@media screen and (max-width: 768px) {
  .about-profile .map {
    padding-top: 40%;
  }
}

.about-profile .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .about .layer-table th.column-1 {
    width: 20%;
  }
  .about .layer-table td.column-2 {
    width: 80%;
  }
}

/* = = = = = = = = = = = = = = = =
// RECRUITpage - unique styles
 = = = = = = = = = = = = = = = = */
.recruit-lead {
  padding: 120px 0 140px;
  border-top: 1px solid #F0F1F3;
  font-size: 22px;
  line-height: 2.5;
}

@media screen and (max-width: 768px) {
  .recruit-lead {
    margin: auto;
    padding: 60px 0 80px;
    font-size: 16px;
    line-height: 1.6;
  }
}

.recruit-info {
  padding: 100px 0 140px;
}

@media screen and (max-width: 768px) {
  .recruit-info {
    padding: 60px 0 20px;
  }
}

.recruit-info_method {
  margin: 60px auto 0;
  padding-top: 60px;
  max-width: 600px;
  border-top: 1px solid #F0F1F3;
}

@media screen and (max-width: 768px) {
  .recruit-info_method {
    margin: 40px auto 0;
    padding-top: 40px;
    max-width: 86%;
  }
}

.recruit-info_method ._title {
  font-weight: normal;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .recruit-info_method ._title {
    font-size: 16px;
  }
}

.recruit-info_method ._text {
  margin: 10px 0 20px;
  letter-spacing: 0;
  font-size: 14px;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .recruit-info_method ._text {
    margin: 0 auto 10px;
    width: 90%;
    font-size: 12px;
    line-height: 1.8;
  }
  .recruit-info_method ._text p:first-child {
    display: inline;
  }
  .recruit-info_method ._text p:last-child {
    display: contents;
  }
}

.recruit-info_method ._num {
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .recruit-info_method ._num {
    font-size: 24px;
  }
}

.recruit-info_method ._num span {
  font-size: 26px;
}

@media screen and (max-width: 768px) {
  .recruit-info_method ._num span {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .recruit-info .inner {
    width: 92%;
  }
}

/* = = = = = = = = = = = = = = = =
// WORKSpage - unique styles
= = = = = = = = = = = = = = = = */
.works {
  margin-bottom: 160px;
}

@media screen and (max-width: 768px) {
  .works {
    margin-bottom: 80px;
  }
}

.works-head {
  margin: auto;
  max-width: 1000px;
}

.works-lead ._catch {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .works-lead ._catch {
    font-size: 16px;
  }
}

.works-lead ._text {
  margin: 40px auto 140px;
  max-width: 700px;
  font-size: 14px;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .works-lead ._text {
    margin: 20px auto 40px;
    width: 88%;
    font-size: 12px;
  }
}

.works-list {
  grid-template-columns: 1fr 1fr;
  gap: 40px 2px;
}

@media screen and (max-width: 768px) {
  .works-list {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.works-list_item:hover .image:before {
  opacity: 1;
}

.works-list .image {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 50%;
}

@media screen and (max-width: 768px) {
  .works-list .image {
    margin-bottom: 12px;
    padding-bottom: 70%;
  }
}

.works-list .image:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(4, 30, 65, 0.6);
  content: '';
  opacity: 0;
}

.works-list .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .works-list .text {
    text-align: center;
  }
}

.works-list .text ._ja {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .works-list .text ._ja {
    font-size: 12px;
  }
}

.works-list .text ._en {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .works-list .text ._en {
    font-size: 10px;
  }
}

.category-list {
  margin: auto;
  max-width: 720px;
  font-size: 20px;
  grid-template-columns: 1fr 1fr;
}

.category-list_item {
  padding: 32px 0;
  border-bottom: 1px solid;
  color: #dfdfe0;
}

@media screen and (max-width: 768px) {
  .category-list_item {
    padding: 10px 0;
    border-bottom: 2px solid #041e41;
    font-size: 16px;
  }
}

.category-list_item:hover {
  color: #5f6165;
}

.category-list_item._current {
  color: #5f6165;
}

@media screen and (max-width: 768px) {
  .category-list_item._current {
    background: #041e41;
    color: #fff;
  }
}

.tag-list {
  margin: 60px 0 120px;
  grid-template-columns: repeat(8, auto);
}

@media screen and (max-width: 768px) {
  .tag-list {
    align-items: center;
    margin: 0 0 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2px;
  }
}

.tag-list_item {
  color: #dfdfe0;
}

@media screen and (max-width: 768px) {
  .tag-list_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    height: 100%;
    background: #F0F1F4;
    font-size: 14px;
    line-height: 1.2;
  }
}

.tag-list_item:hover {
  color: initial;
}

.tag-list_item._current {
  color: #5f6165;
}

@media screen and (max-width: 768px) {
  .tag-list_item._current {
    background: #fff;
    color: #041e41;
  }
}

/* = = = = = = = = = = = = = = = =
// same DETAILpage - unique styles
 = = = = = = = = = = = = = = = = */
.detail-head {
  margin: 20px 0 80px;
  padding: 20px 0;
  border-bottom: 1px solid #F0F1F3;
}

@media screen and (max-width: 768px) {
  .detail-head {
    margin: 0 0 20px;
    padding: 20px 10px 10px;
    border-width: 2px;
  }
}

.detail-back {
  position: relative;
  padding-left: 16px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .detail-back {
    margin-top: -20px;
    padding-left: 24px;
    font-size: 16px;
  }
}

.detail-back:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  display: flex;
  align-items: center;
  content: '〈';
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .detail-back:before {
    left: 0;
  }
}

.detail-title ._ja {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .detail-title ._ja {
    font-size: 13px;
  }
}

.detail-title ._en {
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .detail-title ._en {
    font-size: 10px;
  }
}

.detail-text {
  font-size: 14px;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .detail-text {
    font-size: 12px;
    line-height: 1.8;
  }
}

.detail-foot {
  margin: 40px 0 140px;
  grid-template-columns: 4fr 6fr;
}

@media screen and (max-width: 768px) {
  .detail-foot {
    margin: 40px 0 80px;
    gap: 20px;
    grid-template-columns: 1fr;
  }
}

/* = = = = = = = = = = = = = = = =
// Plugins edit styles
= = = = = = = = = = = = = = = = */
.tablepress > caption {
  display: none;
}

.hover-scale:hover img {
  transform: scale(1.1);
}
